{include file="common/header"}
<body>
<div class="layui-fluid layui-col-md12">
    <div class="layui-card">
        <form class="layui-form" method="post">
            <div class="layui-card-body">
                <input type="hidden" name="operate_id" value="{:session('user_id')}">
                <input type="hidden" name="id" value="{$item.id}">
                <div class="layui-form-item hy-form-item-md8">
                    <label class="layui-form-label">缴费单名称</label>
                    <div class="layui-input-inline hy-form-name">
                        <input type="text" name="title"  lay-verify="required" value="{$item.title}" autocomplete="off" disabled  class="layui-input">
                        <div class="layui-form-mid layui-word-aux"><span class="hy-form-star">*</span>&nbsp必填项</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">缴费款项</label>
                        <div class="layui-input-inline">
                            <input type="text" name="cate_name"  lay-verify="required" value="{$item.cate_name}" autocomplete="off" disabled  class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="cost"  lay-verify="required" value="{$item.cost}" autocomplete="off" disabled placeholder="￥" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">缴费凭证</label>
                    <div class="layui-input-block">
                        <img src="__STATIC__{$item.pic}" class="layui-table-img" id="tipImg" onerror="this.src='__STATIC__/admin/images/head_default.gif'" style="height: 50px"/>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">款项名称</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="0" title="待缴" {eq name="item['status']" value="0"}checked{/eq}>
                        <input type="radio" name="status" value="1" title="已缴" {eq name="item['status']" value="1"}checked{/eq}>
                        <input type="radio" name="status" value="2" title="确认中" {eq name="item['status']" value="2"}checked{/eq}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="set-form-element">
                            <i class="layui-icon layui-icon-ok"></i> 审核
                        </button>
                        <button class="layui-btn layui-btn-primary" id="close">
                            <i class="layui-icon layui-icon-close"></i> 取消
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="common/footer"}
<script>
    layui.use(['layer','form','element','upload','layedit','laydate'], function() {
        var $ = layui.jquery
            ,layer = layui.layer
            ,element = layui.element
            ,upload = layui.upload
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,form = layui.form;

        form.on('submit(set-form-element)', function (data) {
            $('.layui-btn').addClass('layui-disabled').attr('disabled','disabled');
            $.ajax({
                url: "{:url('admin/v1.Payment/auditPayment')}",
                type:'post',
                dataType:'json',
                data:data.field,
                success:function(res){
                    if (res.code == 200) {
                        wk.success(res.msg,'wk.layer_close()');
                        parent.location.reload();
                    } else {
                        wk.error(res.msg,'$(".layui-btn").removeClass(\'layui-disabled\').removeAttr(\'disabled\')');
                    }
                }
            })
            return false;
        });
        //返回取消按钮
        $('#close').click(function(){
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
        //鼠标放在图片上方，显示大图
        $('#tipImg').hover(function(){
            var img_show = null;
            $('#tipImg').hover(function(){
                var img = "<img class='img_msg' src='"+$(this).attr('src')+"' style='width:270px;' />";
                img_show = layer.tips(img, this,{
                    tips:[2, 'rgba(41,41,41,.5)']
                    ,area: ['300px']
                });
            },function(){
                layer.close(img_show);
            });
        });
        function hoverOpenImg(){
            var img_show = null;
            $('#tipImg').hover(function(){
                var img = "<img class='img_msg' src='"+$(this).attr('src')+"' style='width:270px;' />";
                img_show = layer.tips(img, this,{
                    tips:[2, 'rgba(41,41,41,.5)']
                    ,area: ['300px']
                });
            },function(){
                layer.close(img_show);
            });
        }
    });
</script>
</body>
</html>