{include file="common/header"}
<body>
<div class="layui-fluid layui-col-md12">
    <div class="layui-card">
        <form class="layui-form">
            <div class="layui-card-body">
                <input type="hidden" name="operate_id" value="{:session('user_id')}">
                <input type="hidden" name="id" value="{$item.id}">

                <div class="layui-form-item hy-form-item-md8">
                    <label class="layui-form-label">缴费单名称</label>
                    <div class="layui-input-inline hy-form-name">
                        <input type="text" name="title"  lay-verify="required" value="{$item.title}" autocomplete="off" placeholder="请注明缴费单月份" class="layui-input">
                        <div class="layui-form-mid layui-word-aux"><span class="hy-form-star">*</span>&nbsp必填项</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">上次抄表</label>
                        <div class="layui-input-inline">
                            <input type="text" name="lto_dian" value="{$item.lto_dian}" class="layui-input" lay-verify="required" autocomplete="off" placeholder="上次抄表数">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">本次抄表</label>
                        <div class="layui-input-inline">
                            <input type="text" name="leo_dian"  lay-verify="required" value="{$item.leo_dian}" autocomplete="off" placeholder="本次抄表数" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">月单价</label>
                        <div class="layui-input-inline">
                            <input type="text" name="unit_price" value="{$item.unit_price}" class="layui-input" lay-verify="required" autocomplete="off" placeholder="月单价">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">数量</label>
                        <div class="layui-input-inline">
                            <input type="text" name="number"  lay-verify="required" value="{$item.number}" autocomplete="off" placeholder="请输入数量" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">小计金额</label>
                        <div class="layui-input-inline">
                            <input type="text" name="cost"  lay-verify="required" value="{$item.cost}" autocomplete="off" placeholder="￥" class="layui-input">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">提醒时间</label>
                        <div class="layui-input-inline">
                            <input type="text" name="remind_time" value="{$item.remind_time}" class="layui-input" lay-verify="required" autocomplete="off" onclick="wk.lay_date(this);" placeholder="提醒时间">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="set-form-element">
                            <i class="layui-icon layui-icon-ok"></i> 提交
                        </button>
                        <button class="layui-btn layui-btn-primary" id="close">
                            <i class="layui-icon layui-icon-close"></i> 取消
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
{include file="common/footer"}
<script>
    layui.use(['layer','form','element','upload','layedit','laydate'], function() {
        var $ = layui.jquery
            ,layer = layui.layer
            ,element = layui.element
            ,upload = layui.upload
            ,layedit = layui.layedit
            ,laydate = layui.laydate
            ,form = layui.form;

        form.on('submit(set-form-element)', function (data) {
            $('.layui-btn').addClass('layui-disabled').attr('disabled','disabled');
            $.ajax({
                url: "{:url('admin/v1.Payment/editPaymentDian')}",
                type:'post',
                dataType:'json',
                data:data.field,
                success:function(res){
                    if (res.code == 200) {
                        wk.success(res.msg,'wk.layer_close()');
                        parent.location.reload();
                    } else {
                        wk.error(res.msg,'$(".layui-btn").removeClass(\'layui-disabled\').removeAttr(\'disabled\')');
                    }
                }
            })
            return false;
        });
        //返回取消按钮
        $('#close').click(function(){
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
    });
</script>
</body>
</html>