{include file="common/header"}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operate_id" value="{:session('user_id')}">
                <input type="hidden" name="id" value="{$item.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label">业务名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" value="{$item.name}" lay-verify="required|name" autocomplete="off" placeholder="请输入完整的公司名称" class="layui-input">
                        <div class="layui-form-mid layui-word-aux"><span class="hy-form-star">*</span>&nbsp业务名称必须完整全称</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">封面图</label>
                    <div class="layui-input-inline">
                        <div class="layui-upload-drag" id="pic">
                            {if empty($item.pic)}
                            <img src="__STATIC__/default/timg.jpg" alt="上传成功后渲染" style="max-width: 196px">
                            {else /}
                            <img src="__STATIC__{$item.pic}" alt="上传成功后渲染" style="max-width: 196px">
                            {/if}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item" style="width: 600px;">
                    <label class="layui-form-label">业务内容</label>
                    <div class="layui-input-block">
                        <textarea name="content" lay-verify="required"  placeholder="请输入业务" class="layui-textarea">{$item.content}</textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">价格</label>
                    <div class="layui-input-inline">
                        <input type="text" name="price" value="{$item.price}" lay-verify="required|number" autocomplete="off" placeholder="请输入价格" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">优惠价</label>
                    <div class="layui-input-inline">
                        <input type="text" name="v_price" value="{$item.v_price}" lay-verify="required|number" autocomplete="off" placeholder="请输入优惠价" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="set-form-element">
                            <i class="layui-icon layui-icon-ok"></i> 提交
                        </button>
                        <button type="button" class="layui-btn layui-btn-primary" id="close" onclick="javascript:history.back(-1)">
                            <i class="layui-icon layui-icon-close"></i> 取消
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="common/footer"}
<script>
    layui.use(['layer','form','upload','table'], function() {
        var $ = layui.jquery
            ,layer = layui.layer
            ,form = layui.form
            ,upload = layui.upload
            ,table = layui.table;
        //上传封面图
        upload.render({
            elem: '#pic'
            ,auto:false
            ,field:'pic'
            ,choose:function (obj) {
                obj.preview(function(index, file, result){
                    $('#pic img').attr('src',result);
                });
            }
        });
    });
</script>
</body>
</html>