{include file="common/header"}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form">
                <input type="hidden" name="operate_id" value="{:session('user_id')}">
                <input type="hidden" name="id" value="{$item.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label">功能名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" value="{$item.title}" lay-verify="required" autocomplete="off" placeholder="请输入功能名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">节点名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" value="{$item.name}" lay-verify="required" autocomplete="off" placeholder="请输入节点名称" class="layui-input">
                        <div class="layui-form-mid layui-word-aux">
                            {switch item.level }
                            {case 2 }<span class="hy-form-star">*</span>&nbsp此处节点为<span class="hy-red">【控制器】</span>{/case}
                            {case 3}<span class="hy-form-star">*</span>&nbsp此处节点为<span class="hy-red">【操作方法】</span>{/case}
                            {default /}<span class="hy-form-star">*</span>&nbsp此处节点为<span class="hy-red">【模块】</span>
                            {/switch}
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">节点状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="启用" {eq name="item['status']" value="1"}checked{/eq}>
                        <input type="radio" name="status" value="2" title="禁用" {eq name="item['status']" value="2"}checked{/eq}>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="set-form-element">
                            <i class="layui-icon layui-icon-ok"></i> 提交
                        </button>
                        <button class="layui-btn layui-btn-primary" id="close">
                            <i class="layui-icon layui-icon-close"></i> 取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"}
<script>

    layui.use(['layer','form'], function() {
        var $ = layui.jquery
            ,layer = layui.layer
            ,form = layui.form;

        form.on('submit(set-form-element)', function (data) {
            $('.layui-btn').addClass('layui-disabled').attr('disabled','disabled');
            $.ajax({
                url:"{:url('admin/v1.Node/editNode')}",
                type:'post',
                dataType:'json',
                data:data.field,
                success:function(res){
                    if (res.code == 200) {
                        wk.success(res.msg,'wk.layer_close()');
                        parent.location.reload();
                    } else {
                        wk.error(res.msg,'$(".layui-btn").removeClass(\'layui-disabled\').removeAttr(\'disabled\')');
                    }
                }
            })
        });
        //返回取消按钮
        $('#close').click(function(){
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
    });
</script>
</body>
</html>