{include file="common/header"}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header">
            企业实名信息认证
        </div>
        <div class="layui-card-body">
            <div class="layui-form">
                <input type="hidden" name="operate_id" value="{:session('user_id')}">
                <input type="hidden" name="id" value="{$item.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label">公司全称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" value="{$item.title}" lay-verify="required|name" autocomplete="off" disabled class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">&nbsp无需更改</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">公司法人</label>
                    <div class="layui-input-inline">
                        <input type="text" name="faren" value="{$item.faren}" lay-verify="required|name" autocomplete="off" placeholder="请输入公司法人" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">&nbsp注意大小写字母</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">统一信用码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="xinyongma" value="{$item.xinyongma}" lay-verify="required|name" autocomplete="off" placeholder="请输入公司统一信用码" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">&nbsp注意大小写字母</div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">营业期限</label>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="text" name="time_start" placeholder="起始时间" onclick="wk.lay_date(this);" autocomplete="off" class="layui-input">
                        </div>
                        <div class="layui-form-mid">-</div>
                        <div class="layui-input-inline" style="width: 100px;">
                            <input type="text" name="time_end" placeholder="截止时间" onclick="wk.lay_date(this);" autocomplete="off" class="layui-input">
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">注册地址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="reg_address" value="{$item.reg_address}" lay-verify="required|name" autocomplete="off" placeholder="请输入证件上的注册地址" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">&nbsp营业执照上的注册地址</div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">营业执照</label>
                    <div class="layui-input-inline" style="width: 360px">
                        <div class="layui-upload-list">
                            <div class="HY-imgup">
                                <img class="layui-upload-img" id="pre_img" height="90px">
                            </div>
                            <div class="layui-form-mid layui-word-aux"><p class="pull-left">上传允许文件类型为 <strong>png,jpg</strong> 图像文件大小不超过<strong>2 M</strong></p></div>

                        </div>
                        <div class="layui-clear"></div>
                        <a href="javascript:;" class="hy-upload"><i class="layui-icon layui-icon-upload"></i> 上传文件
                            <input type="file" name="image" id="exampleInputFile">
                        </a>
                    </div>

                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" id="test9" lay-submit lay-filter="set-form-element">
                            <i class="layui-icon layui-icon-ok"></i> 提交
                        </button>
                        <button class="layui-btn layui-btn-primary" onclick="javascript:history.back(-1);return false;">
                            <i class="layui-icon layui-icon-close"></i> 取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"}
<script>
    layui.use(['layer','form','upload'], function() {
        var $ = layui.jquery
            ,layer = layui.layer
            ,upload = layui.upload
            ,form = layui.form;
        //绑定原始文件域
        upload.render({
            elem: '#exampleInputFile'
            ,url: "{:url('admin/v1.Company/uplaodLicense')}?id={$item.id}"
            ,auto: false
            //,multiple: true
            ,bindAction: '#test9'
            ,done: function(res, index, upload){
                if(res.code != 200){
                    return layer.msg('上传失败');
                }
                //上传成功后
                return layer.msg(res.msg);
            }
        });

        form.on('submit(set-form-element)', function (data) {
            $('.layui-btn').addClass('layui-disabled').attr('disabled','disabled');
            $.ajax({
                url:"{:url('admin/v1.Company/editCompanyReal')}",
                type:'post',
                dataType:'json',
                data:data.field,
                success:function(res){
                    if (res.code == 200) {
                        wk.success(res.msg,'wk.layer_close()');
                        history.back(-1);
                    } else {
                        wk.error(res.msg,'$(".layui-btn").removeClass(\'layui-disabled\').removeAttr(\'disabled\')');
                    }
                }
            })
        });

        /* 如果是较新的浏览器可以直接使用以下JS实现*/
        $("#exampleInputFile").change(function(){
            var pic = this.files[0];
            var xiao = window.URL.createObjectURL(pic);
            $("#pre_img").attr('src', xiao);
        });
    });
</script>
</body>
</html>