{include file="common/header"}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form">
                <input type="hidden" name="operate_id" value="{:session('user_id')}">
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" value="" lay-verify="required" autocomplete="off" placeholder="请输入菜单名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">链接地址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="url" value="" lay-verify="required" autocomplete="off" placeholder="请输入链接地址" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">参数</label>
                    <div class="layui-input-inline">
                        <input type="text" name="parameter" value="" lay-verify="required" autocomplete="off" placeholder="请输入参数" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="0" title="显示" checked>
                        <input type="radio" name="status" value="1" title="隐蔽">
                    </div>
                </div>
                <div class="layui-form-item hy-form-item-md2">
                    <label class="layui-form-label">设置排序</label>
                    <div class="layui-input-inline">
                        <input type="text" name="sort" value=""  lay-verify="sort" autocomplete="off" placeholder="请输入序号" class="layui-input">
                        <div class="layui-form-mid layui-word-aux">设置排列顺序</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="set-form-element">
                            <i class="layui-icon layui-icon-ok"></i> 提交
                        </button>
                        <button class="layui-btn layui-btn-primary" id="close">
                            <i class="layui-icon layui-icon-close"></i> 取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"}
<script>
    layui.use(['layer','form'], function() {
        var $ = layui.jquery
            ,layer = layui.layer
            ,form = layui.form;
        form.on('submit(set-form-element)', function (data) {
            console.info(11);
            $('.layui-btn').addClass('layui-disabled').attr('disabled','disabled');
            $.ajax({
                url:"{:url('admin/v1.WebMenu/addWebMenu')}",
                type:'post',
                dataType:'json',
                data:data.field,
                success:function(res){
                    if (res.code == 200) {
                        wk.success(res.msg,'wk.layer_close()');
                        parent.location.reload();
                    } else {
                        wk.error(res.msg,'$(".layui-btn").removeClass(\'layui-disabled\').removeAttr(\'disabled\')');
                    }
                }
            })
        });
        //返回取消按钮
        $('#close').click(function(){
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
    });
</script>
</body>
</html>