{include file="common/header"}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        关键字
                    </div>
                    <div class="layui-inline" style="width: 300px">
                        <input type="text" id="key" name="keyword" value="" lay-verify="title" autocomplete="off" placeholder="请输入公司名称" class="layui-input"/>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="LAY-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                        <button type="reset" class="layui-btn layui-btn-danger" id="empty"  lay-submit="" lay-filter="LAY-search">
                            <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>
                        </button>
                    </div>
                    <div class="layui-inline layui-layout-right" id="hy-listTop-right" style="padding-right: 10px; padding-top: 15px;">
                        <button class="layui-btn" id="HY-listTop-add" lay-event="add">
                            <i class="fa fa-plus"></i> 添加新往来信息
                        </button>
                        <button class="layui-btn" id="hy-listTop-statistic" lay-event="statistic">
                            <i class="fa fa-line-chart"></i> 数据统计
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <!--表单主体-->
            <table id="LAY-table-manage" lay-filter="LAY-table-manage"></table>
            <!--签约模板-->
            <script type="text/html" id="HY-sign">
                <input type="checkbox" name="sign" value="{{d.id}}"  lay-skin="switch"  lay-text="ON|Yes" lay-filter=""{{ d.is_sign == 1 ? 'checked' : '' }} >
            </script>
            <!--操作模板-->
            <script type="text/html" id="HY-table-toolbar">
                <a class="layui-btn layui-btn-xs" lay-event="edit"><i class="fa fa-pencil"></i> 编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="fa fa-trash-o"></i> 删除</a>
            </script>
        </div>
        <div class="container-fluid">
            <p style="text-align: center;line-height: 30px; padding-bottom: 20px;">填写表单时注意填写项的具体要求，上传图片时注意图片格式与大小的限制<br/>
                内部资料，严禁外泄，公司对平台数据信息保留责任追溯的权利。</p>
        </div>
    </div>
</div>
</div>
{include file="common/footer"}
<script>
    layui.use(['layer','form','table'], function () {
        var $ = layui.jquery
            ,layer = layui.layer
            ,form = layui.form
            ,table = layui.table;
        table.render({
            elem: '#LAY-table-manage'
            ,url: "{:url('admin/v1.Dealings/DealingsIndex')}"
            ,response: {
                statusCode: 220 //成功的状态码，默认：0
            }

            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{type:'numbers', title: '序号', width: 60}
                ,{field: 'company', title: '公司名称', width: 120}
                ,{field: 'product', title: '往来产品',minWidth: 120}
                ,{field: 'summary', title: '内容', width: 120}
                ,{field: 'doing_con', title: '计划内容', width: 150}
                ,{field: 'doing_address', title: '计划地址', width: 150}
                ,{field: 'name', title: '联系人', width: 150}
                ,{field: 'title', title: '商机', width: 150}
                ,{field: 'create_time', title: '创建时间', width: 110, sort: true}
                ,{field: 'update_time', title: '更新时间', width: 110, sort: true}
                ,{title: '操作', width: 330, align: 'center', fixed: 'right', toolbar: '#HY-table-toolbar'}
            ]]
            ,page: true
            ,limits: [10, 15]
            ,limit: 10
            ,text: {
                none: '对不起，暂无相关数据' //默认：无数据
            }
        });

        //添加按钮
        $('#HY-listTop-add').click(function () {
            var url = "{:url('admin/v1.Company/addCompany')}";
            wk.layer_show_url('添加往来信息',url,500,430)
        });
        //监听表格右侧工具条
        table.on('tool(LAY-table-manage)', function(obj){
            var data = obj.data;
            switch(obj.event){
                case 'frozen':  //单条冻结
                    var id = data.id;
                    url = '{:url("frozenAdmin")}?id='+data.id;
                    msg = '确认冻结其管理员身份吗?';
                    wk.confirm(id,url,msg);
                    break;
                case 'edit': //修改编辑
                    var url = "{:url('admin/v1.Dealings/editDealings')}?id="+data.id;
                    wk.href(url);
                    break;
                case 'del':  //单条删除
                    var id = data.id;
                    url = "{:url('admin/v1.Dealings/delDealings')}?id="+data.id;
                    msg = '确定删除这条商机信息吗？';
                    wk.confirm(id,url,msg);
            }
        });
    });
</script>
</body>
</html>