{include file="common/header"}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form">
                <input type="hidden" name="operate_id" value="{:session('user_id')}">
                <input type="hidden" name="id" value="{$item.id}">
                <div class="layui-form-item">
                    <label class="layui-form-label">公司全称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="title" value="{$item.title}" lay-verify="required|name" autocomplete="off" disabled class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">&nbsp无需更改</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">公司简称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" value="{$item.name}" lay-verify="required|name" autocomplete="off" placeholder="请输入公司简称" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">&nbsp字数不超过六个字</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">所属行业</label>
                    <div class="layui-input-inline">
                        <select name="trade_parent" lay-search="" id="trade_parent" lay-filter="province">
                            <option value="">---- 请选择一级分类 ----</option>
                            {foreach name="$trade_parent" item="vo"}
                            <option value="{$vo.id}">{$vo.name}</option>
                            {/foreach}
                        </select>
                    </div>
                    <div class="layui-input-inline">
                        <select name="trade" lay-search=""  id="trade" lay-filter="city">
                            <option value="">---- 请选择二级分类 ----</option>
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">公司地址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="address" value="{$item.address}" lay-verify="required|name" autocomplete="off" placeholder="请输入公司地址" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">&nbsp地址详细到门牌号</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">公司网址</label>
                    <div class="layui-input-inline">
                        <input type="text" name="site_url" value="{$item.site_url}" lay-verify="required|name" autocomplete="off" placeholder="请输入公司网址" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">&nbsp企业网站的域名</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">客服电话</label>
                    <div class="layui-input-inline">
                        <input type="text" name="tel" value="{$item.tel}" lay-verify="required|name" autocomplete="off" placeholder="请输入公司电话" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">&nbsp电话保持畅通</div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="set-form-element">
                            <i class="layui-icon layui-icon-ok"></i> 提交
                        </button>
                        <button class="layui-btn layui-btn-primary" id="close">
                            <i class="layui-icon layui-icon-close"></i> 取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"}
<script>
    layui.use(['layer','form'], function() {
        var $ = layui.jquery
            ,layer = layui.layer
            ,form = layui.form;

        form.on('submit(set-form-element)', function (data) {
            $('.layui-btn').addClass('layui-disabled').attr('disabled','disabled');
            $.ajax({
                url:"{:url('admin/v1.Company/editCompanyBase')}",
                type:'post',
                dataType:'json',
                data:data.field,
                success:function(res){
                    if (res.code == 200) {
                        wk.success(res.msg,'wk.layer_close()');
                        history.back(-1);
                    } else {
                        wk.error(res.msg,'$(".layui-btn").removeClass(\'layui-disabled\').removeAttr(\'disabled\')');
                    }
                }
            })
        });
        //返回取消按钮
        $('#close').click(function(){
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
    });
</script>
</body>
</html>