<!DOCTYPE html>
<html style="font-size: 43.9063px; overflow: hidden;" lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta charset="UTF-8">
    <title>{$item.name}</title>
    <link rel="icon" href="https://www.zupu.cn/images/NavBar/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://www.zupu.cn/images/NavBar/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/article/show/css/style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/article/show/css/style_002.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/article/show/css/newsDetail.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/article/show/css/navbar.css">
    <script src="__STATIC__/home/article/show/js/push.js"></script><script src="js/hm.js"></script><script src="__STATIC__/home/article/show/js/jquery-3.js"></script>
    <script src="__STATIC__/home/article/show/js/jquery-qrcode-0.js"></script>
    <script src="__STATIC__/home/article/show/js/jquery.js"></script>
    <script src="__STATIC__/home/article/show/js/underscore-min.js"></script>
    <script src="__STATIC__/home/article/show/js/NavBar.js"></script>
    <script type="text/javascript" src="__STATIC__/home/article/show/js/layer.js"></script><link rel="stylesheet" href="__STATIC__/home/article/show/css/layer.css" id="layuicss-skinlayercss">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?064e7d2cd194b26ad93a3cfe77016ae8";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body style="background: white;padding-top: 88px">
<div id="common-nav-bar">
    <div class="search">
        <!--<img src="/images/Home/home_searchIcon.png" alt="">-->
        <!--<input placeholder="搜索您想要的内容" type="text" id="_myBookKeyword">-->
    </div>
    <div class="navBOX">

        <!-- 用户未登录时显示登录和注册 -->
        <div class="login">
            <span class="signIn" onclick="_signIn()"></span>
            <!--<span class="register" onclick="_signUp()">注册</span>-->
        </div>

    </div>
    <script>
        $(".zupu").on( "mouseenter",function () {
            $(".zupuTabBox").show()
        });
        $(".zupu").on( "mouseleave",function () {
            $(".zupuTabBox").hide()
        })
        $(".zupu1").on( "mouseenter",function () {
            $(".zupuTabBox1").show()
        });
        $(".zupu1").on( "mouseleave",function () {
            $(".zupuTabBox1").hide()
        })
        //搜索框事件
        $("#common-nav-bar .search input").on('keyup', '', function (event) {
            if (event.keyCode == 13) {
                console.info(event.keyCode)
                var value = $("#common-nav-bar .search input")[0].value;
                var url = "https://www.zupu.cn/zp?keyword=" + value;
                window.open(url);
            }
        });
    </script>

</div>
<div id="ZupuWeb">
    <div>
        <div id="NewsDetail">
            <div class="container">
                <div class="content">
                    <h2 class="title">{$item.name}</h2>
                    <div class="share">
                        <div class="left-container">
                            <div class="time">
                                <div>
                                    <span class="txt">2019</span>
                                </div>
                                <div>10-23</div>
                            </div>
                            <div class="zpxw">{$item.name}</div>
                        </div>
                    </div>
                    <div class="main" id="newsDetailId">
                        <input type="hidden" id="content"  value="{$item.content}">
                        <!--文章内容-->
                        <div id="contenta">
                        </div><br><p style="font-size: 14px;color: gray;">免责声明：以上内容版权归原作者所有，如有侵犯您的原创版权请告知，我们将尽快删除相关内容。感谢每一位辛勤著写的作者，感谢每一位的分享。</p></div>
                </div>
            </div>
        </div>
        <!--<div class="wechat-ewm">-->
        <!--<p>获取更多信息，请关注微信公众号</p>-->
        <!--<img src="/images/NewsDetail/wechatPublic_ewm.jpg"-->
        <!--title="wechat_ewm">-->
        <!--</div>-->
    </div>
</div>

</div>
<footer>

</footer>
</div>
</div>
<script src="%E6%8F%AD%E7%A7%98%EF%BC%9A%E6%9C%B1%E5%85%83%E7%92%8B%E5%A6%82%E4%BD%95%E4%BB%8E%E4%B9%9E%E4%B8%90%E5%88%B0%E4%B8%80%E6%9C%9D%E7%9A%87%E5%B8%9D%E7%9A%84%E5%A5%8B%E6%96%97%E5%8F%B2%EF%BC%81-%E6%97%8F%E8%B0%B1%E6%96%B0%E9%97%BB-%E6%97%8F%E8%B0%B1%E7%BD%91_files/newsDatail.js"></script>
<script>
    $(document).ready(function () {
        $(".tab a").attr("class", "");
        $("#menu_news").attr("class", "active");
    })
    var now = new Date();
    var time = now.getFullYear();
    $(".newTime").text(time)
    $('#contenta').html($('#content').val());
</script>
<!--<script>-->
<!--    (function () {-->
<!--        var bp = document.createElement('script');-->
<!--        var curProtocol = window.location.protocol.split(':')[0];-->
<!--        if (curProtocol === 'https') {-->
<!--            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';-->
<!--        } else {-->
<!--            bp.src = 'http://push.zhanzhang.baidu.com/push.js';-->
<!--        }-->
<!--        var s = document.getElementsByTagName("script")[0];-->
<!--        s.parentNode.insertBefore(bp, s);-->
<!--    })();-->
<!--</script>-->