{include file="common/header"}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form">
                <input type="hidden" name="operate_id" value="{:session('user_id')}">
                <input type="hidden" name="company_id" value="{:session('company_id')}">
                <div class="layui-form-item">
                    <label class="layui-form-label">会议室名称</label>
                    <div class="layui-input-inline">
                        <div class="layui-form-mid layui-word-aux">{$item.title}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">空间类型</label>
                    <div class="layui-input-inline">
                        <div class="layui-form-mid layui-word-aux">{$item.name}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">开始时间</label>
                        <div class="layui-input-inline">
                            <div class="layui-form-mid layui-word-aux">{$item.start_time}</div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">结束时间</label>
                        <div class="layui-input-inline">
                            <div class="layui-form-mid layui-word-aux">{$item.end_time}</div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <label class="layui-form-label">预约人</label>
                        <div class="layui-input-inline">
                            <div class="layui-form-mid layui-word-aux">{$item.contacts}</div>
                        </div>
                    </div>
                    <div class="layui-inline">
                        <label class="layui-form-label">联系电话</label>
                        <div class="layui-input-inline">
                            <div class="layui-form-mid layui-word-aux">{$item.phone}</div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">单位名称</label>
                    <div class="layui-input-inline">
                        <div class="layui-form-mid layui-word-aux">{$item.company}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">备注说明</label>
                    <div class="layui-input-inline">
                        <div class="layui-form-mid layui-word-aux">{$item.remarks}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn layui-btn-primary" id="close">
                            <i class="layui-icon layui-icon-close"></i> 取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"}
<script>
    layui.use(['layer','form'], function() {
        var $ = layui.jquery
            ,layer = layui.layer
            ,form = layui.form;

        //返回取消按钮
        $('#close').click(function(){
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
    });
</script>
</body>
</html>