<!--Core JS-->
<script src="__STATIC__/header/js/jquery.js"></script>
<script src="__STATIC__/header/js/modernizr.js"></script>
<script src="__STATIC__/header/js/jquery_004.js"></script>
<script src="__STATIC__/header/js/stickUp.js"></script>
<script src="__STATIC__/header/js/owl.js"></script>
<script src="__STATIC__/header/js/jquery_002.js"></script>
<script src="__STATIC__/header/js/main.js"></script>
<script src="__STATIC__/header/js/datetimepicker.js"></script>
<script src="__STATIC__/header/js/ImgCrop.js"></script>
<script src="__STATIC__/header/js/jquery_003.js"></script>
<script src="__STATIC__/header/js/zh-cn.js"></script>

<script>
    jQuery(document).ready(function () {
        Main.init();
    });
</script>