{include file="common/header"}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <div class="layui-form">
                <input type="hidden" name="operate_id" value="{:session('user_id')}">
                <div class="layui-form-item">
                    <label class="layui-form-label">参数名称</label>
                    <div class="layui-input-inline">
                        <input type="text" name="name" value="" lay-verify="required|name" autocomplete="off" placeholder="请输入参数名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">数据类型</label>
                    <div class="layui-input-block">
                        <input type="radio" name="type" value="单行文本" title="单行文本" checked>
                        <input type="radio" name="type" value="单选" title="单选">
                        <input type="radio" name="type" value="多行文本" title="多行文本">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">参数可选值</label>
                    <div class="layui-input-block">
                        <textarea name="optional" placeholder="多个可选值之间用逗号分隔" class="layui-textarea"></textarea>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="set-form-element">
                            <i class="layui-icon layui-icon-ok"></i> 提交
                        </button>
                        <button class="layui-btn layui-btn-primary" id="close">
                            <i class="layui-icon layui-icon-close"></i> 取消
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{include file="common/footer"}
<script>
    layui.use(['layer','form'], function() {
        var $ = layui.jquery
            ,layer = layui.layer
            ,form = layui.form;

        form.on('submit(set-form-element)', function (data) {
            $('.layui-btn').addClass('layui-disabled').attr('disabled','disabled');
            $.ajax({
                url:"{:url('admin/v1.Sconfig/addSconfig')}",
                type:'post',
                dataType:'json',
                data:data.field,
                success:function(res){
                    if (res.code == 200) {
                        wk.success(res.msg,'wk.layer_close()');
                        parent.location.reload();
                    } else {
                        wk.error(res.msg,'$(".layui-btn").removeClass(\'layui-disabled\').removeAttr(\'disabled\')');
                    }
                }
            })
        });
        //返回取消按钮
        $('#close').click(function(){
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
    });
</script>
</body>
</html>