{include file="common/header"}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form class="layui-form" method="post">
                <input type="hidden" name="operate_id" value="{:session('user_id')}">
                <input type="hidden" name="id" value="{$item.id}">

                <div class="layui-form-item">
                    <label class="layui-form-label">用户昵称</label>
                    <div class="layui-input-inline">
                        <div class="layui-form-mid layui-word-aux">{$item.nick_name}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-inline">
                        <div class="layui-form-mid layui-word-aux">{$item.username}</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">原有密码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="oldPwd" value="" lay-verify="required|name" autocomplete="off" placeholder="请输入原有密码" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">新密码</label>
                    <div class="layui-input-inline">
                        <input type="text" name="password" value="" lay-verify="required|name" autocomplete="off" placeholder="请输入新密码" class="layui-input">
                        <div class="layui-form-mid layui-word-aux"><span class="hy-form-star">*</span>&nbsp密码为6位字母与数字的组合</div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="set-form-element">
                            <i class="layui-icon layui-icon-ok"></i> 提交
                        </button>
                        <button type="button" class="layui-btn layui-btn-primary" id="close">
                            <i class="layui-icon layui-icon-close"></i> 取消
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{include file="common/footer"}
<script>
    layui.use(['layer','form'], function() {
        var $ = layui.jquery
            ,layer = layui.layer
            ,form = layui.form;
        //返回取消按钮
        $('#close').click(function(){
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
    });
</script>
</body>
</html>