<!DOCTYPE html>
<html style="font-size: 43.9063px; overflow: hidden;" lang="en"><head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta http-equiv="Expires" content="0">
    <meta charset="UTF-8">
    <title>{$item.title}</title>
    <meta name="keywords" content="揭秘：朱元璋如何从乞丐到一朝皇帝的奋斗史！-族谱新闻-族谱网">
    <meta name="description" content="　　朱元璋，今人言及这位声名赫赫的皇帝，往往和“骇人听闻”四字成语联系起来，人们总是指斥他诛杀功臣的千古凶暴和个人性格方面的阴鸷沉猜。确实，这位明朝的太祖爷以酷治国，尽揽朝中所有大权于己手，建立锦衣卫皇家特务组织，禁锢百姓思想。为了诛除功臣，他机关算尽，大肆罗织，戕害无数无辜人命。网络配图　　在朱元">
    <meta name="mobile-agent" content="format=html5; url=https://m.zupu.cn/lishi/20191023/237640.html">
    <link rel="icon" href="https://www.zupu.cn/images/NavBar/logo.png" type="image/x-icon">
    <link rel="shortcut icon" href="https://www.zupu.cn/images/NavBar/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/article/show/css/style.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/article/show/css/style_002.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/article/show/css/newsDetail.css">
    <link rel="stylesheet" type="text/css" href="__STATIC__/home/article/show/css/navbar.css">
    <script src="__STATIC__/home/article/show/js/push.js"></script><script src="js/hm.js"></script><script src="__STATIC__/home/article/show/js/jquery-3.js"></script>
    <script src="__STATIC__/home/article/show/js/jquery-qrcode-0.js"></script>
    <script src="__STATIC__/home/article/show/js/jquery.js"></script>
    <script src="__STATIC__/home/article/show/js/underscore-min.js"></script>
    <script src="__STATIC__/home/article/show/js/NavBar.js"></script>
    <script type="text/javascript" src="__STATIC__/home/article/show/js/layer.js"></script><link rel="stylesheet" href="__STATIC__/home/article/show/css/layer.css" id="layuicss-skinlayercss">
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?064e7d2cd194b26ad93a3cfe77016ae8";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body style="background: white;padding-top: 88px">
<div id="common-nav-bar">
    <div class="search">
        <!--<img src="/images/Home/home_searchIcon.png" alt="">-->
        <!--<input placeholder="搜索您想要的内容" type="text" id="_myBookKeyword">-->
    </div>
    <div class="navBOX">

        <!-- 用户未登录时显示登录和注册 -->
        <div class="login">
            <span class="signIn" onclick="_signIn()"></span>
            <!--<span class="register" onclick="_signUp()">注册</span>-->
        </div>

    </div>
    <script>
        $(".zupu").on( "mouseenter",function () {
            $(".zupuTabBox").show()
        });
        $(".zupu").on( "mouseleave",function () {
            $(".zupuTabBox").hide()
        })
        $(".zupu1").on( "mouseenter",function () {
            $(".zupuTabBox1").show()
        });
        $(".zupu1").on( "mouseleave",function () {
            $(".zupuTabBox1").hide()
        })
        //搜索框事件
        $("#common-nav-bar .search input").on('keyup', '', function (event) {
            if (event.keyCode == 13) {
                console.info(event.keyCode)
                var value = $("#common-nav-bar .search input")[0].value;
                var url = "https://www.zupu.cn/zp?keyword=" + value;
                window.open(url);
            }
        });
    </script>

</div>
<div id="ZupuWeb">
    <div>
        <div id="NewsDetail">
            <div class="container">
                <div class="content">
                    <h2 class="title">{$item.title}</h2>
                    <div class="share">
                        <div class="left-container">
                            <div class="zpxw">{$item.title}</div>
                        </div>
                    </div>
                    <div class="main" id="newsDetailId">
                        <input type="hidden" id="content"  value="{$item.content}">
                        <!--文章内容-->
                        <div id="content"></div>
                    </div>
                    <br><p style="font-size: 14px;color: gray;">免责声明：以上内容版权归原作者所有，如有侵犯您的原创版权请告知，我们将尽快删除相关内容。感谢每一位辛勤著写的作者，感谢每一位的分享。</p>
                </div>
            </div>
        </div>
        <!--<div class="wechat-ewm">-->
        <!--<p>获取更多信息，请关注微信公众号</p>-->
        <!--<img src="/images/NewsDetail/wechatPublic_ewm.jpg"-->
        <!--title="wechat_ewm">-->
        <!--</div>-->
    </div>
</div>

</div>
<footer>
    <div class="list" style="margin-top: 14px;margin-bottom: 14px">
        <a target="_blank" href="https://www.zupu.cn/xinwen/20160401/1071.html">关于族谱</a><a target="_blank" href="https://www.zupu.cn/xinwen/20160401/1071.html">联系我们</a>
        <!--<a target="_blank" href="/jiameng">招商加盟</a>-->
    </div>
    <div class="footer-copyright" style="font-size: 14px; color: rgb(51, 51, 51);">
        <p class="textfootP">Copyright<span class="newTime" style="margin: 0 12px 0 12px">2020</span>zupu.cn&nbsp;&nbsp;<a href="javascript:;" style="color: rgb(51, 51, 51);"></a>浙ICP备18024415号-5</p>
    </div>
</footer>
</div>
</div>
<script src="%E6%8F%AD%E7%A7%98%EF%BC%9A%E6%9C%B1%E5%85%83%E7%92%8B%E5%A6%82%E4%BD%95%E4%BB%8E%E4%B9%9E%E4%B8%90%E5%88%B0%E4%B8%80%E6%9C%9D%E7%9A%87%E5%B8%9D%E7%9A%84%E5%A5%8B%E6%96%97%E5%8F%B2%EF%BC%81-%E6%97%8F%E8%B0%B1%E6%96%B0%E9%97%BB-%E6%97%8F%E8%B0%B1%E7%BD%91_files/newsDatail.js"></script>
<script>
    $(document).ready(function () {
        $(".tab a").attr("class", "");
        $("#menu_news").attr("class", "active");
    })
    var now = new Date();
    var time = now.getFullYear();
    $(".newTime").text(time)
    $('#contenta').html($('#content').val());
</script>
<script>
    (function () {
        var bp = document.createElement('script');
        var curProtocol = window.location.protocol.split(':')[0];
        if (curProtocol === 'https') {
            bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
        } else {
            bp.src = 'http://push.zhanzhang.baidu.com/push.js';
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>