{include file="common/header"}
<body>
<div class="layui-fluid layui-col-md12">
    <div class="layui-card">
        <form class="layui-form">
            <div class="layui-card-body">
                <div class="layui-tab hy-tab-card">
                    <ul class="layui-tab-title">
                        <li class="layui-this">基本信息</li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show">
                            <input type="hidden" name="operate_id" value="{:session('user_id')}">
                            <input type="hidden" name="id" value="{$item.id}">
                            <div class="layui-form-item hy-form-item-md8">
                                <label class="layui-form-label">票种名称</label>
                                <div class="layui-input-inline hy-form-name">
                                    <input type="text" name="title"  lay-verify="required" value="{$item.title}" autocomplete="off" placeholder="请输入活动标题" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux"><span class="hy-form-star">*</span>&nbsp必填项</div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-inline">
                                    <label class="layui-form-label">起购时间</label>
                                    <div class="layui-input-inline">
                                        <input type="text" name="start_time" value="{$item.buy_time|date='Y-m-d H:i:s'}" class="layui-input" lay-verify="required" autocomplete="off"  onclick="wk.lay_date(this);" placeholder="创建开始日期">
                                    </div>
                                </div>
                            </div>
                            <div class="layui-form-item hy-form-item-md2">
                                <label class="layui-form-label">票价</label>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="text" name="price" value="{$item.price}" lay-verify="required|number" placeholder="￥" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux"><span class="hy-form-star">*</span>&nbsp必填项</div>
                            </div>
                            <div class="layui-form-item hy-form-item-md2">
                                <label class="layui-form-label">优惠票价</label>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="text" name="v_price" value="{$item.v_price}" lay-verify="required|number" placeholder="￥" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux"><span class="hy-form-star">*</span>&nbsp必填项</div>
                            </div>
                            <div class="layui-form-item hy-form-item-md2">
                                <label class="layui-form-label">会员票价</label>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="text" name="m_price" value="{$item.m_price}" lay-verify="required|number" placeholder="￥" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux"><span class="hy-form-star">*</span>&nbsp必填项</div>
                            </div>
                            <div class="layui-form-item hy-form-item-md2">
                                <label class="layui-form-label">数量</label>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="text" name="num" value="{$item.num}" lay-verify="required|number" placeholder="请输入数量" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux"><span class="hy-form-star">*</span>&nbsp必填项</div>
                            </div>
                            <div class="layui-form-item hy-form-item-md2">
                                <label class="layui-form-label">最低购买量</label>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="text" name="min_num" value="{$item.min_num}" lay-verify="required|number" placeholder="请输入最低购买量" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux"><span class="hy-form-star">*</span>&nbsp必填项</div>
                            </div>
                            <div class="layui-form-item hy-form-item-md2">
                                <label class="layui-form-label">最高购买量</label>
                                <div class="layui-input-inline" style="width: 100px;">
                                    <input type="text" name="max_num" value="{$item.max_num}" lay-verify="required|number" placeholder="请输入最高购买量" autocomplete="off" class="layui-input">
                                </div>
                                <div class="layui-form-mid layui-word-aux"><span class="hy-form-star">*</span>&nbsp必填项</div>
                            </div>

                            <div class="layui-form-item hy-form-item-md12">
                                <label class="layui-form-label">票种说明</label>
                                <div class="layui-input-block">
                                    <textarea name="summary" placeholder="请填写几句活动重点，便于分享摘要及百度等搜索引擎搜索，限150字" class="layui-textarea">{$item.summary}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit lay-filter="set-form-element" id="submit">
                            <i class="layui-icon layui-icon-ok"></i> 提交
                        </button>
                        <button class="layui-btn layui-btn-primary" id="close" onclick="javascript:history.back(-1);return false;">
                            <i class="layui-icon layui-icon-close"></i> 取消
                        </button>
                    </div>
                </div>
            </div>
        </form>

        <div class="container-fluid">
            <p style="text-align: center;line-height: 30px; padding-bottom: 20px;">填写表单时注意填写项的具体要求，上传图片时注意图片格式与大小的限制<br/>
                内部资料，严禁外泄，公司对平台数据信息保留责任追溯的权利。</p>
        </div>
    </div>
</div>
{include file="common/footer"}
<script>
    layui.use(['layer','form','element','upload','layedit'], function() {
        var $ = layui.jquery
            ,layer = layui.layer
            ,element = layui.element
            ,upload = layui.upload
            ,layedit = layui.layedit
            ,form = layui.form;

        form.on('submit(set-form-element)', function (data) {
            $('.layui-btn').addClass('layui-disabled').attr('disabled','disabled');
            $.ajax({
                url: "{:url('admin/v1.Ticket/editTicket')}",
                type:'post',
                dataType:'json',
                data:data.field,
                success:function(res){
                    if (res.code == 200) {
                        wk.success(res.msg,'wk.layer_close()');
                        history.back(-1);
                    } else {
                        wk.error(res.msg,'$(".layui-btn").removeClass(\'layui-disabled\').removeAttr(\'disabled\')');
                    }
                }
            })
            return false;
        });
        //返回取消按钮
        $('#close').click(function(){
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
    });
</script>
</body>
</html>