{include file="common/header"}
<link rel="stylesheet" href="__STATIC__/admin/js/themes/default/style.min.css"/>
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body">
            <form  class="am-form tpl-form-line-form" >
                <input type="hidden" name="id" value="{$id}">
                <div class="layui-form">
                    <div class="layui-form-item">
                        <label class="layui-form-label">配置权限</label>
                        <div class="layui-input-block">
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-end">
                                    <div id="jstree"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layui-form-item">
                        <div class="layui-input-block">
                            <button class="layui-btn" lay-submit lay-filter="set-form-element">
                                <i class="layui-icon layui-icon-ok"></i> 提交
                            </button>
                            <button class="layui-btn layui-btn-primary" id="close" onclick="javascript:history.back(-1);return false;">
                                <i class="layui-icon layui-icon-close"></i> 取消
                            </button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
    {include file="common/footer"}
    <script src="__STATIC__/admin/js/jstree.min.js"></script>
    <script>
        layui.use(['form','element','jquery'], function(){
            var form = layui.form
                ,element = layui.element
                ,$= layui.$;

        });
        $(function () {


            var $jstree = $('#jstree');
            $jstree.jstree({
                icon: false,
                plugins: ['checkbox'],
                core: {
                    themes: {icons: false},
                    checkbox: {
                        keep_selected_style: false
                    },
                    data: <?= $accessList ?>
        }
        });

            // 读取选中的条目
            $.jstree.core.prototype.get_all_checked = function (full) {
                var obj = this.get_selected(), i, j;
                for (i = 0, j = obj.length; i < j; i++) {
                    obj = obj.concat(this.get_node(obj[i]).parents);
                }
                obj = $.grep(obj, function (v) {
                    return v !== '#';
                });
                obj = obj.filter(function (itm, i, a) {
                    return i === a.indexOf(itm);
                });
                return full ? $.map(obj, $.proxy(function (i) {
                    return this.get_node(i);
                }, this)) : obj;
            };
        });

        layui.use(['layer','form'], function() {
            var $ = layui.jquery
                ,layer = layui.layer
                ,form = layui.form;

            form.on('submit(set-form-element)', function () {
                var $jstree = $('#jstree');
                var get_all_checked= $jstree.jstree('get_all_checked');
                var id={$id};
                var data={
                    'id':id,
                    'rules':get_all_checked
                };
                $('.layui-btn').addClass('layui-disabled').attr('disabled','disabled');
                $.ajax({
                    url:"{:url('admin/v1.Role/rolePower')}",
                    type:'post',
                    dataType:'json',
                    data:data,
                    success:function(res){
                        if (res.code == 200) {
                            wk.success(res.msg,'wk.layer_close()');
                            history.back(-1);
                        } else {
                            wk.error(res.msg,'$(".layui-btn").removeClass(\'layui-disabled\').removeAttr(\'disabled\')');
                        }
                    }
                })
                return false;
            });
            //返回取消按钮
            $('#close').click(function(){
                var index = parent.layer.getFrameIndex(window.name);
                parent.layer.close(index);
            });
        });
    </script>

</body>
</html>