{include file="common/header"}
<body>
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        关键字
                    </div>
                    <div class="layui-inline" style="width: 300px">
                        <input type="text" id="key" name="keyword" value="" lay-verify="title" autocomplete="off" placeholder="请输入角色名称" class="layui-input"/>
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn" lay-submit="" lay-filter="LAY-search">
                            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
                        </button>
                        <button type="reset" class="layui-btn layui-btn-danger" id="empty"  lay-submit="" lay-filter="LAY-search">
                            <i class="layui-icon layui-icon-refresh layuiadmin-button-btn"></i>
                        </button>
                    </div>
                    <div class="layui-inline layui-layout-right" id="hy-listTop-right" style="padding-right: 10px; padding-top: 15px;">
                        <button class="layui-btn" id="HY-listTop-add" lay-event="add">
                            <i class="fa fa-plus"></i> 添加角色
                        </button>
                        <button class="layui-btn" id="hy-listTop-statistic" lay-event="statistic">
                            <i class="fa fa-line-chart"></i> 数据统计
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-card-body">
            <!--表格-->
            <table id="LAY-table-manage" lay-filter="LAY-table-manage"></table>
            <!--语义化模板-->
            <script type="text/html" id="HY-dscTpl">
                {{# if(d.role_type ==1){ }}平台管理员{{# } }}
                {{# if(d.role_type ==2){ }}企业管理员{{# } }}
            </script>
            <!--状态模板-->
            <script type="text/html" id="HY-staBar">
                <input type="checkbox" value="{{d.id}}"  lay-skin="switch"  lay-text="ON|OFF" lay-filter="OnOff"{{ d.status == 1 ? 'checked' : '' }} >
            </script>
            <!--操作模板-->
            <script type="text/html" id="HY-table-toolbar">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="getUser"><i class="layui-icon layui-icon-user"></i>成员</a>
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="setNode"><i class="layui-icon layui-icon-auz"></i>权限</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
        <div class="container-fluid">
            <p style="text-align: center;line-height: 30px; padding-bottom: 20px;">填写表单时注意填写项的具体要求，上传图片时注意图片格式与大小的限制<br/>
                内部资料，严禁外泄，公司对平台数据信息保留责任追溯的权利。</p>
        </div>
    </div>
</div>
{include file="common/footer"}
<script>
    layui.use(['layer','form','table'], function () {
        var $ = layui.jquery
            ,layer = layui.layer
            ,form = layui.form
            ,table = layui.table;
        table.render({
            elem: '#LAY-table-manage'
            ,url: "{:url('admin/v1.Role/roleIndex')}"
            ,response: {
                statusCode: 220 //成功的状态码，默认：0
            }
            ,cols: [[
                {type: 'checkbox', fixed: 'left'}
                ,{type:'numbers', width: 60, title: '序号'}
                ,{field: 'name', title: '角色名称', width: 150}
                ,{field: 'description', title: '身份描述',minWidth: 150}
                ,{field: 'create_time', title: '创建时间', width: 160, sort: true}
                ,{field: 'update_time', title: '更新时间', width: 160, sort: true}
                ,{field: 'status',fixed: 'right', width: 100, title: '状态', align: 'center', templet: '#HY-staBar'}
                ,{fixed: 'right', title: '操作', width: 300, align: 'center', toolbar: '#HY-table-toolbar'}
            ]]
            ,page: true
            ,limits: [10, 15]
            ,limit: 10
            ,text: {
                none: '对不起，暂无相关数据' //默认：无数据
            }
        });

        //添加按钮
        $('#HY-listTop-add').click(function () {
            var url = "{:url('admin/v1.Role/addRole')}";
            wk.layer_show_url('添加角色',url,550,320)
        });

        //监听状态开关操作
        form.on('switch(OnOff)', function (obj) {
            var num = '';
            obj.elem.checked == true? num = 1: num = 2;
            //数据状态
            wk.status(this.value,num, '{:url(\'admin/v1.Role/roleState\')}',obj);
        });

        //监听表格右侧工具条
        table.on('tool(LAY-table-manage)', function(obj){
            var data = obj.data;
            switch(obj.event){
                case 'subitem': //查看子项
                    var url = "{:url('admin/v1.Role/subroleIndex')}?id="+data.id;
                    wk.href(url);
                    break;
                case 'edit': //修改编辑
                    var url ="{:url('admin/v1.Role/editRole')}?id="+data.id;
                    wk.layer_show_url('修改角色',url,550,320);
                    break;
                case 'setNode': //权限分配
                    var url ="cate_icon.html?id="+data.id;
                    wk.layer_show_url('权限分配',url,500,360);
                    break;
                case 'del':  //单条删除
                    var id = data.id;
                    url = "{:url('admin/v1.Role/delRole')}?id="+data.id;
                    msg = '确定删除此角色么';
                    wk.confirm(id,url,msg);
            }
        });
    });
</script>
</body>
</html>